
  .calendar {
    float: right;
    margin-top: 200px;
    position: relative;
    width: 300px;
    background-image: url(../img/calendarbck.png);
    
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    border-radius: 8px;
    overflow: hidden;
  }

  .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }
  
  .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #000000;
    
  }
    &:nth-child(7):active {
      color: #ff685d;
    }
  }
 
  }
  .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #000000;
  }
    &:nth-child(7n) {
      color: #ff685d;
      font-weight: 700;
    }
    


    }
    &:hover {
      background-color: #009688;
      color: #fff !important;
      font-weight: 700;
      cursor: pointer;
    }
  }