@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html{
    scroll-behavior: smooth;
}
body{
  background-image: url(../img/backgroundv2.png);
  background-repeat:no-repeat;
  background-size:cover;
  margin-bottom: 0%;
  
}
.header{
    display: inline;
    border: 10px;

}
/* .header :first-child{
    width: 20px;
    float: right;
} */
img.instalogo{
    width: 20px;
}
.header img{
    display: flex;
    width: 300px;
    margin: auto;
    justify-content: center;

}
.header :last-child{
    /* float: left; */
    width: 150px;
}
 /* .nav{
     overflow: hidden;
 } */
#ul{
    
    display: flex;
    justify-content: center; 
    background-image: url("../img/line3.png" );width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    border-radius: 25px;    
    

}
#li a {
    display: flex;
    justify-content: space-between;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    
  }
  
  li a:hover {
    background-color:#2b64bf;
  }

.middle{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
}
footer {
  /* background-image: url(../img/footer1.png); */
  background-color: #0e2866;
  padding: 5px;
  text-align: center;
  color: white;
  font-family: 'Work Sans', sans-serif;
  /* height: 150px; */
  list-style: none;
  /* width: 100%; */
  margin: 0;
  margin-left: -8;
  margin-right: -8;
  margin-bottom: -3%;
}
.col1{
  margin: auto;
  display: block;
  /* justify-content: center; */
  margin-left: 17%;
  margin-right: 10%;
  width:300px;
  margin-bottom: 20px;
}
.col2{
  margin: auto;
  display: block;
  /* justify-content: center; */
  margin-left: 28%;
  margin-right: 20%;
  width:300px;
  font-size: 15;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -5%;
}
.col3{
  margin: auto;
  display: block;
  /* justify-content: center; */
  margin-left: 50%;
  margin-right: 20%;
  width:300px;
  font-size: 15;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -5%;
}
.col4{
  margin: auto;
  display: block;
  /* justify-content: center; */
  margin-left: 65%;
  margin-right: 20%;
  width:300px;
  font-size: 15;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -6%;
}

  li a{
    color: white;
    list-style: none;
    text-decoration: none;

  }
ul{
  list-style: none;
  margin: 0;
  margin-top: -15;
}
.li{
  padding-left: 200px;
  padding-top: 20px;
  width: 30px;
}


.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    animation-duration: 10ms;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    -webkit-animation: mymovee 800ms none;
    
  }
  .nakontakto{
    margin-top: 5%;
    display: block;
    margin-bottom: 3%;
    margin-left: 1%;
  }
  .nakontakto h1{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
  }
  
  #ankes{
    display: block;
  }
  input#emri{
    width: 219;
    height: 30;
    font-size: 18;
    border: 0;
    padding-left: 3px;
    
    box-shadow:1px 1px 2px 2px rgba(44, 65, 97, 0.5);
    border-radius: 5px;
    margin-right: 22;
    margin-left: 15;
    
  }
  input#email{
    padding-left: 3px;
    width: 219;
    height: 30;
    font-size: 18;
    border: none;
    box-shadow: 1px 1px 2px 2px rgba(44, 65, 97, 0.5);
    border-radius: 5px;
    margin-right: -100;
    margin-left: 5px;
    
  }
  input[type=text], select, textarea {
    width: 508;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 4px rgba(44, 65, 97, 0.5);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    height: 100;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
  }
  .emriemail{
    display: block;
    width: 300;
  }
  
  input#ankes{
    padding: 0%;
    width: 508;
    height: 100;
    font-size: 14;
    border: none;
    
    box-shadow: 2px 2px 5px 4px rgba(44, 65, 97, 0.5);
    border-radius: 5px;
  }
  label#ankes{
    margin-top: 10px;
  }
  button#butoni{
    margin-top: 10px;
    width: 70;
    height: 30;
    border: none;
    background-color: #2b64bf;
    color: #dbdbdb;
    border-radius: 3px;

  }
  button#butoni:hover{
    width: 80;
    height: 35;
    transition: 80ms;
  }
  label{
    font-family: 'Poppins', sans-serif;
  }
  
  @-webkit-keyframes mymovee{
    0% {padding-top: 20%;}
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #2b64bf;
    
  }
  .main{
      width: 500px;
      padding-top: 20px;
      margin: auto;
      float: left;
      font-size: 13;
  }
  .button {
    background-color: #005ce6; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .form{
      margin: 0%;
  }

  .main h1{
    font-family: 'Roboto', sans-serif;
  }
  .main h2{
    font-family: 'Roboto Condensed', sans-serif;
  }
  .main h3{
    font-family: 'Montserrat', sans-serif;
  }