
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .dropbtn{
    font-size: 12;
  }
  #li a{
    font-size: 12;
  }
  .nav2{
    display: block;
    margin: auto;
  }
  .dropcalendar button{
    display: none;
  }
  .grid-container {
    display: block;
        
}
.grid-item {
  font-family: 'Noto Serif', serif;
  padding-left: 15px;
  /* margin-left: -200; */
  /* margin-top: -40; */
  padding-bottom: 10px;
  margin-left: 1;
  margin-top: 1;
}
.partnerimg {
   
    margin-bottom: 20px;
    margin-top: 30px;
}
.partnerimg img {
    width: 181px;
    height: 72px;
    display: block;
    margin: auto;
   
}
.partnerimg h2 {
    font-family: 'Montserrat';
    margin: 0;
    /* margin-left: -20%; */
    margin-bottom: 0;
    display: block;
    margin-top: 5%;
}
.partner h1 {
    margin-bottom: -2%;
    margin-left: 35%;
    font-family: 'Montserrat';
    font-size: 25;
}
.nav2{
    display: block;
    width: 250;
  }
footer{

}
.col2 {
    margin: auto;
    display: block;
    /* justify-content: center; */
    /* margin-left: 28%; */
    margin-right: 20%;
    width: 300px;
    font-size: 15;
    margin-bottom: 20px;
    /* margin-top: -5%; */
}
.col3 {
    margin: auto;
    display: block;
    /* justify-content: center; */
    /* margin-left: 50%; */
    margin-right: 20%;
    width: 300px;
    font-size: 15;
    /* text-align: left; */
    margin-bottom: 20px;
    /* margin-top: -5%; */
}
.col4 {
    margin: auto;
    display: block;
    /* justify-content: center; */
    /* margin-left: 65%; */
    margin-right: 20%;
    width: 300px;
    font-size: 15;
    text-align: left;
    margin-bottom: 20px;
    /* margin-top: -6%; */
}
#logokryesore{
        /* margin-left: 800; */
        display: flex;
        justify-content: center;
        /* margin: auto; */
        width: 300;
        /* margin: auto; */
        margin-left: 20%;
    }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .nav {
        width: 500;
        margin-left: 5%;
    }
  .nav2{
    display: block;
    width: 250;
  }
  #videoindex{
      margin: auto;
  }

}
